Tree {
  /**
   * See Bug 434201: Dark theme: tree must respect the foreground color for items arrows
   */
  swt-tree-arrows-color:#cccccc;
  swt-tree-arrows-mode: triangle;  /* triangle or square */

  /* See Bug 434309: Customize the tree/table selection to work properly
   * with the dark theme.
   *
   * Note that the selection foreground is a bit lighter than the regular
   * foreground because our background is also a bit lighter in this case.
   */
  swt-selection-foreground-color: #fcfcf9;
  swt-selection-background-color: #494949;
  swt-hot-background-color: #2F2F2F;
  swt-selection-border-color: #7F7D68;
  swt-hot-border-color: #545454;
  
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #808080;
  flat-scroll-bar-page-increment: #494a4d;
  flat-scroll-bar-background-top-level: #262626;
}

Table {
  /* See Bug 434309: Customize the tree/table selection to work properly
   * with the dark theme.
   *
   * Note that the selection foreground is a bit lighter than the regular
   * foreground because our background is also a bit lighter in this case.
   */
  swt-selection-foreground-color: #fcfcf9;

  swt-selection-background-color: #494949;
  swt-hot-background-color: #2F2F2F;
  swt-selection-border-color: #7F7D68;
  swt-hot-border-color: #545454;
  
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #808080;
  flat-scroll-bar-page-increment: #494a4d;
  flat-scroll-bar-background-top-level: #262626;
}