
@import url("platform:/plugin/org.eclipse.ui.themes/css/e4_basestyle.css");

ColorDefinition#org-eclipse-ui-workbench-ACTIVE_UNSELECTED_TABS_COLOR_START {
  color: #D2E1F0;
}

ColorDefinition#org-eclipse-ui-workbench-ACTIVE_UNSELECTED_TABS_COLOR_END {
  color: #CEDDED;
}

ColorDefinition#org-eclipse-ui-workbench-ACTIVE_TAB_OUTER_KEYLINE_COLOR {
  color: #B6BCCC;
}

.MTrimmedWindow {
  background-color: #E1E6F6;
}

.MPartStack {
  swt-simple: true;
  swt-mru-visible: false;
}

.MTrimBar {
  background-color: #E1E6F6;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
  background-image:  url(./win7.png);
}

.MToolControl.TrimStack {
  frame-image:  url(./win7TSFrame.png);
  handle-image:  url(./win7Handle.png);
}

#PerspectiveSwitcher  {
  background-color: #F5F7FC #E1E6F6 100%;
}

#org-eclipse-ui-editorss {
  swt-tab-height: 8px;
  padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
  swt-shadow-visible: false;
}

CTabFolder Canvas {
  background-color: #F8F8F8;
}

Tree {
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #cdcdcd;
  flat-scroll-bar-page-increment: #f8f8f8;
  flat-scroll-bar-thumb-top-level: #d2e1f9;
  flat-scroll-bar-page-increment-top-level: #f8f8f8;
}

Table {
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #cdcdcd;
  flat-scroll-bar-page-increment: #f8f8f8;
  flat-scroll-bar-thumb-top-level: #d2e1f9;
  flat-scroll-bar-page-increment-top-level: #f8f8f8;
}

StyledText {
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #cdcdcd;
  flat-scroll-bar-page-increment: #f8f8f8;
  flat-scroll-bar-thumb-top-level: #d2e1f9;
  flat-scroll-bar-page-increment-top-level: #f8f8f8;
}

ScrolledComposite {
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #cdcdcd;
  flat-scroll-bar-page-increment: #f8f8f8;
  flat-scroll-bar-thumb-top-level: #d2e1f9;
  flat-scroll-bar-page-increment-top-level: #f8f8f8;
}

ScrolledForm {
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #cdcdcd;
  flat-scroll-bar-page-increment: #f8f8f8;
  flat-scroll-bar-thumb-top-level: #d2e1f9;
  flat-scroll-bar-page-increment-top-level: #f8f8f8;
}