<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/win7.css"
            id="com.codeaffine.eclipse.ui.swt.theme.win7"
            label="Windows [Flat-Scrollbar]"
            os="win32"
            os_version="6.1">
      </theme>
      <theme
            basestylesheeturi="css/dark.css"
            id="com.codeaffine.eclipse.ui.swt.theme.dark"
            label="Dark [Flat-Scrollbar]"
            os="win32"
            os_version="6.1">
      </theme>
      <theme
            basestylesheeturi="css/clean-sheet.css"
            id="com.codeaffine.eclipse.ui.swt.theme.clean-sheet"
            label="Clean Sheet"
            os="win32"
            os_version="10">
      </theme>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.WidgetElement"
            composite="false"
            handler="com.codeaffine.eclipse.ui.swt.theme.ScrollableAdapterContribution">
         <property-name
               name="flat-scroll-bar">
         </property-name>
         <property-name
               name="flat-scroll-bar-background">
         </property-name>
         <property-name
               name="flat-scroll-bar-thumb">
         </property-name>
         <property-name
               name="flat-scroll-bar-page-increment">
         </property-name>
         <property-name
               name="flat-scroll-bar-background-top-level">
         </property-name>
         <property-name
               name="flat-scroll-bar-thumb-top-level">
         </property-name>
         <property-name
               name="flat-scroll-bar-page-increment-top-level">
         </property-name>
      </handler>
   </extension>

</plugin>
