<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/clean-sheet-win.css"
            id="com.codeaffine.eclipse.ui.swt.theme.clean-sheet"
            label="Clean Sheet"
            os="win32"
            os_version="10">
      </theme>
      <theme
            basestylesheeturi="css/clean-sheet-osx.css"
            id="com.codeaffine.eclipse.ui.swt.theme.clean-sheet.osx"
            label="Clean Sheet"
            os="macosx"
            os_version="10">
      </theme>
      <theme
            basestylesheeturi="css/avocado-win.css"
            id="com.codeaffine.eclipse.ui.swt.theme.avocado.win"
            label="Avocado"
            os="win32"
            os_version="10">
      </theme>
      <theme
            basestylesheeturi="css/avocado-osx.css"
            id="com.codeaffine.eclipse.ui.swt.theme.avocado.osx"
            label="Avocado"
            os="macosx"
            os_version="10">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.codeaffine.eclipse.ui.swt.theme.FontOnStartupLoader">
      </startup>
   </extension>
   
</plugin>
